* {
	margin: 0;
	padding: 0;
}

body {
	background:#d9d3bd;
}

 li{
	margin: 0 0 1px 0;
	width: 498px;
	
	border-radius: 2px;
	list-style-type: none; 
}

input[type="text"]{
	border: none;
	margin: 2px 0 0 10px;
	outline: none;
	-webkit-appearance: none;
	height: 30px;
	vertical-align: top;
	font-size: 18px;	
	padding: 0 40px 0 0;
	width: 192px;
	
  }

#but{
	border: none; 
	border-radius: 3px;
	padding: 8px 15px 8px 15px;
	font-size: 15px;
	position: relative;
	bottom: 5px;
	left: 22px;
	
	
	
	color: white;
	background-color: #149964;
	cursor: pointer;
	
	
} 

.container{
	margin: 100px 0 0 200px;
}

span {
	display: inline-block;
	
	border-left: 1px solid #d9d3bd;
	border-radius: 0 2px 2px 0;
	width: 423px;
	padding: 15px;
	/* background-color: aqua; */
	color: rgb(255, 255, 255);
	font-weight: 700;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.input_and_button{
	padding: 10px 0 5px 0;
	width: 498px;
	background-color: white;
	 
	border-radius: 3px;
	margin: 15px 0 0 0;
}

.cl1 {
	display: inline-block;
	padding: 14.8px 14.5px 14.5px 14.5px;
	
	margin: 0 1px 0 0;
	/* border-right: 1px solid #d9d3bd; */
	border-radius: 2px 0 0 2px;
	
}
.color_button {
	display: inline-block;
	position: relative;
	left: 10px;
	margin: 2px 0 0 20px;
}
.class_but_add {
	display: inline-block;
	margin:0;
	padding: 0;	
}
.red {
	background-color: #fc6262;
}
.pink {
	background-color: #ff80d7; 
}
.purple {
	background-color: #8d55a3; 
}
.light_blue {
	background-color: #4d7ee8;
}

.light_aqua {
	background-color: #4ebdd9;
}

.navy_yellow {
	background-color: #cfca3c;
}


.button {
	margin: 5px 0 0 0;
	width: 20px;
	height: 20px;
	/* background-color: #fc6262; */
	border-radius: 3px;
	border: none;
}
#ccr {
	margin: 5px 0 0 0;
	width: 20px;
	height: 20px;
	background-color: #fc6262;
	border-radius: 3px;
	border: none;
}

#ccb {
	width: 20px;
	height: 20px;
	border: none;
	border-radius: 3px;
	background-color: #ff80d7;
}
#ccp {
	width: 20px;
	height: 20px;
	border: none;
	border-radius: 3px;
	background-color: #8d55a3;
}

#ccl_b {
	width: 20px;
	height: 20px;
	border: none;
	border-radius: 3px;
	background-color: #4d7ee8;
}

#ccl_a {
	width: 20px;
	height: 20px;
	border: none;
	border-radius: 3px;
	background-color:#4ebdd9;
}

#ccn_y {
	width: 20px;
	height: 20px;
	border: none;
	border-radius: 3px;
	background-color:#cfca3c;
}